<mat-toolbar color="primary">
    <h1>Referee Coach - Forgot Password</h1>
</mat-toolbar>
<div class="loading-indicator">
    @if (requesting) {
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    }
</div>
<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            Reset Password
        </mat-card-title>
    </mat-card-header>
    @if (requested) {
        <mat-card-content>
            <p>An email containing the information to reset your password has been sent to {{ email }}.</p>
        </mat-card-content>
    } @else {
        <mat-card-content>
            <div class="container">
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Email</mat-label>
                    <input type="email"
                           autocomplete="off"
                           matInput
                           name="email"
                           id="email"
                           [(ngModel)]="email"
                           required/>
                </mat-form-field>
                <button color="primary" mat-flat-button
                        [disabled]="requesting"
                        (click)="requestPasswordReset()">Request Password Reset
                </button>
            </div>
        </mat-card-content>
    }
</mat-card>

