@use "../../variables";
@use "../../responsive";

.mat-mdc-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.reportee {
  color: variables.$primary-color;
}

.spacer {
  flex: 1 1 auto;
}

.video-comments-container {
  max-height: 470px;
  scroll-behavior: smooth;

  @include responsive.responsive('lt-lg') {
    margin-top: 10px;
  }
}

.criteria-container {
  @include responsive.responsive('gt-sm') {
    gap: 10px;
  }
}

.youtube-container {
  display: flex;
  flex-direction: column;
}
