<mat-toolbar color="primary">
    <h1>Referee Coach - Reset Password</h1>
</mat-toolbar>
<div class="loading-indicator">
    @if (processing) {
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    }
</div>
@if (!success) {
    <mat-card appearance="outlined">
        <mat-card-content>
            <div class="container">
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>New password</mat-label>
                    <input type="password"
                           autocomplete="off"
                           matInput
                           name="password"
                           id="password"
                           required
                           [(ngModel)]="password"/>
                </mat-form-field>
                <button color="primary" mat-flat-button
                        [disabled]="processing"
                        (click)="resetPassword()">Set new password
                </button>
            </div>
        </mat-card-content>
    </mat-card>
} @else {
    <mat-card appearance="outlined">
        <mat-card-content>
            <p>Successfully reset your password. Go to <a [routerLink]="loginUrl">Login</a></p>
        </mat-card-content>
    </mat-card>
}
