.spacer {
  flex: 1 1 auto;
}

img {
  max-width: 100%;
}

h2 {
  margin-top: 2.5em;
}

.passkey {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.passkey-info {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
