<mat-toolbar color="primary">
    <h1>Referee Coach - Login</h1>
</mat-toolbar>
<div class="loading-indicator">
    @if (authenticating) {
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    }
</div>

<mat-card>
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form role="form" (ngSubmit)="login()" [formGroup]="loginForm">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Email</mat-label>
                <input type="text"
                       autocomplete="off"
                       matInput
                       name="email"
                       id="email"
                       formControlName="email"/>
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Password</mat-label>
                <input type="password"
                       autocomplete="off"
                       matInput
                       name="password"
                       formControlName="password"
                       id="password"/>
            </mat-form-field>
            <button color="primary" mat-flat-button [disabled]="authenticating">Login</button>
            <p><a [routerLink]="forgotPasswordUrl">Forgot your password?</a></p>
        </form>
    </mat-card-content>
</mat-card>
