@use "../../responsive";

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

@include responsive.responsive('gt-sm') {
  form {
    width: 33%;
  }
}

@include responsive.responsive('gt-md') {
  form {
    width: 25%;
  }
}
