@use "../../variables";

p {
  white-space: pre-wrap;
}

.reportee {
  color: variables.$primary-color;
}

.spacer {
  flex: 1 1 auto;
}

.reply {
  margin-left: 10px;
}

.repliedAt {
  margin-left: 10px;
  font-size: 10px;
}

.video-comments-container {
  flex: 1;

  .mat-mdc-card-title {
    display: flex;
    align-items: center;
  }

  .mat-mdc-card {
    &.important {
      border: solid 1px variables.$primary-color;
    }
  }

  .mat-icon {
    &.important {
      color: variables.$primary-color;
    }
  }
}
